{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}
 {% block body %}
	 <h1>Bienvenue sur Gestion WebStudent </h1>
<!--	<table border = "0">
				
		<td><h3><a href="{{ path('ListeEtudiantAction')}}"> Liste Utilisateur</a><h3></td>
		<td><h3><a href="{{ path('ListeStageAction')}}"> Liste Stage</a><h3></td>
		<td><h3><a href="{{ path('ListeEntrepriseAction')}}"> Liste Entreprise</a><h3></td>
	</table>				-->
{% endblock %}