{% extends "::layout.html.twig" %}
 {% block body %}
	 <h1>Bienvenue sur Gestion WebStudent </h1>
<!--	<table border = "0">
				
		<td><h3><a href="{{ path('ListeEtudiant')}}"> Liste Utilisateur</a><h3></td>
		<td><h3><a href="{{ path('ListeStage')}}"> Liste Stage</a><h3></td>
		<td><h3><a href="{{ path('ListeEntreprise')}}"> Liste Entreprise</a><h3></td>
	</table>				-->
{% endblock %}