{% extends "::layout.html.twig" %}

{% block body %}
  
    {% if error is defined %}
    <div class="alert alert-error"><B>Chloe - mpchloe<B/></div>
  {% endif %}
 <div class="inset">
  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form action="{{ path('login_check') }}" method="post">
   <!--<div class="login">-->
    
      <label for="username">Login :</label>
      <input type="text" id="username" name="_username"  />

      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="_password" width="200"/>
      <br />
      <button value="Connexion">Connexion</button>

  </form>
    </div>
{% endblock %}